* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-padding-top: 78px;
}

body {
  background-color: #ebecf2;
  font-family: "Montserrat", sans-serif;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  width: 60px;
  height: 3px;
  background-color: #039dff;
  margin: 0 auto 40px;
}

nav {
  transition: background-color, 0.6s;
  text-transform: uppercase;
  z-index: 10;
}
nav .nav-link,
nav .navbar-nav .nav-link.show,
nav .navbar-brand,
nav .fa-bars {
  color: #fff;
}
nav .navbar-toggler {
  padding: 10px 15px;
}
nav .nav-link:focus,
nav .navbar-brand:focus,
nav .navbar-brand:hover,
nav .nav-link:hover,
nav .navbar-nav .nav-link.active,
nav .navbar-brand span {
  color: #039dff;
}
nav .navbar-brand span {
  font-weight: 700;
  font-size: 1.5rem;
}

header.hero-img {
  color: #fff;
  position: relative;
  height: 100vh;
  background-image: url("../img/hero-small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
header.hero-img h1 {
  text-transform: uppercase;
  text-align: center;
}
header.hero-img span {
  color: #039dff;
  font-weight: 700;
  font-size: 1.5em;
}
header.hero-img i {
  font-size: 5rem;
  color: #039dff;
  margin-bottom: 10px;
}
header.hero-img .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -5;
}
header.hero-img .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header.hero-img .hero-text a {
  padding: 15px 20px;
  background: none;
  border: 2px solid #039dff;
}
header.hero-img .hero-text a:hover {
  background-color: #039dff;
}

.about-us i {
  margin-top: 20px;
  font-size: 30px;
}
.about-us .about-us-card-title {
  text-transform: uppercase;
  font-size: 18px;
}
.about-us .about-us-card-text {
  font-size: 14px;
}
.about-us .about-us-hover {
  transition: color, 0.3s;
}
.about-us .about-us-hover:hover {
  color: #039dff;
}

.about-us-hero {
  color: #ddd;
  position: relative;
  background-image: url("../img/processor-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  background-position: center;
  background-attachment: fixed;
}
.about-us-hero .about-us-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -5;
}
.about-us-hero .about-us-hero-title {
  font-size: 24px;
}
.about-us-hero .about-us-hero-item {
  margin: 10px 0;
}
.about-us-hero .about-us-hero-item i {
  font-size: 36px;
}

.portfolio .carousel-item {
  height: 600px;
}
.portfolio .carousel-caption {
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  padding: 40px 0;
}
.portfolio .carousel-indicators {
  padding-bottom: 20px;
}

.prices .price-box {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  margin: 20px;
  padding: 30px;
  background-color: #fff;
  transition: scale, 0.3s;
}
.prices .price-box span,
.prices .price-box .price-tag {
  font-weight: 700;
}
.prices .price-title {
  color: #039dff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
.prices i {
  padding: 0 5px;
  font-size: 24px;
}
.prices button {
  text-transform: uppercase;
  padding: 10px 20px;
}
.prices .price-tag {
  font-size: 24px;
}
.prices .price-info {
  margin-top: 30px;
}
.prices .price-info a {
  text-decoration: none;
}
.prices .price-box:hover {
  scale: 1.05;
}

.team {
  position: relative;
  background-image: url("../img/munich-2516500_640.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
.team .section-title {
  color: #fff;
}
.team .team-shadow {
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.team .card {
  transition: scale, 0.3s;
}
.team .card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}
.team .card i {
  padding: 10px;
}
.team .card:hover {
  scale: 1.03;
}
.team .card-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */