@use './colors' as c;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: #333;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
nav {
	text-transform: uppercase;
	.nav-link,
	.navbar-nav .nav-link.show,
	.navbar-brand,
	.fa-bars {
		color: c.$white;
	}
	.navbar-toggler {
		padding: 10px 15px;
	}
	.nav-link:focus,
	.navbar-brand:focus,
	.navbar-brand:hover,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-brand span {
		color: c.$main-color;
	}
	.navbar-brand span {
		font-weight: 700;
		font-size: 1.5rem;
	}
}
